@import "./breakpoints.scss";

* {
  margin: 0;
}

body {
  width: 100vw;
  overflow-x: hidden;
}

*:focus {
  outline: none;
}

span {
  color: gray;
  font-size: 18px;
}

.inputs {
  margin-top: 25px;
  gap: 20px;

  @include mobile {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
  }
  @include tablet {
    display: flex;
    gap: 10px;
  }

  input {
    padding: 9px 18px;
    border-radius: 3px;
    border: 1px solid rgb(201, 200, 200);
  }

  button {
    padding: 9px 18px;
    border: none;
    border-radius: 3px;
    background-color: rgb(72, 72, 241);
    color: white;
    font-weight: 600;

    &:hover {
      background-color: lighten($color: rgb(72, 72, 241), $amount: 3);
    }
  }
}

.box {
  box-shadow: rgba(104, 104, 116, 0.418) 0px 7px 29px 0px;
  border-radius: 5px;
  background-color: #fff;
  z-index: 999;
}

.icon {
  width: 50px;
  height: 50px;
}

.home {
  display: flex;
  align-content: center;
  justify-content: space-between;
  margin-bottom: 80px;

  @include mobile {
    flex-direction: column;
    width: 100vw;
  }
  @include tablet {
    width: 100vw;
    overflow: hidden;
  }

  .icon {
    padding: 20px 60px;
  }

  .circle1 {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background: linear-gradient(
      to bottom,
      rgb(247, 25, 99),
      rgb(252, 109, 157)
    );
    position: absolute;
    right: 40%;
    top: -11%;
    z-index: -1;

    @include mobile {
      display: none;
    }
    @include tablet {
      right: 0;
      left: 430px;
    }
  }
  .circle2 {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: rgba(247, 96, 146, 0.514);
    position: absolute;
    left: 40px;
    top: 340px;

    @include mobile {
      display: none;
    }
    @include tablet {
      display: none;
    }
  }
  .circle3 {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgba(250, 123, 166, 0.514);
    position: absolute;
    right: 525px;
    top: 300px;

    @include mobile {
      display: none;
    }
    @include tablet {
      display: none;
    }
  }

  .left {
    margin: 20px;
    margin-left: 100px;
    align-self: center;
    padding: 30px;
    width: 340px;

    @include mobile {
      display: flex;
      flex-direction: column;
      width: calc(100% - 80px);
      margin-left: 0px;
    }
    @include tablet {
      width: calc(100vw - 380px);
      margin-left: 0px;
    }

    h1 {
      margin-bottom: 10px;
    }
  }

  .right {
    margin-top: 40px;
    img {
      width: 500px;
      overflow-x: hidden;
      @include mobile {
        width: 100vw;
      }
      @include tablet {
        width: 300px;
      }
    }
  }
}

.meet {
  width: 500px;
  margin-top: 50px;
  margin-bottom: 50px;
  margin: auto;
  text-align: center;

  @include mobile {
    width: 250px;
  }

  span {
    color: gray;
    font-size: 14px;
  }

  .container {
    display: flex;
    gap: 30px;

    @include mobile {
      flex-direction: column;
    }

    .line2 {
      transform: translateY(50px);
    }

    .box {
      padding: 60px 20px;
      margin-top: 50px;

      img {
        width: 30px;
        padding: 7px;
        border: 4px orange;
        border-style: double;
        border-radius: 50%;
      }
    }
  }
}

.testimonials {
  margin-bottom: 80px;
  margin-top: -150px;
  padding: 20px;
  background: linear-gradient(rgba(205, 223, 245, 0.623), #fff);
  text-align: center;

  @include mobile {
    width: calc(100vw - 40px);
  }
  @include tablet {
    width: calc(100vw - 40px);
  }

  h1 {
    margin-top: 250px;
    margin-bottom: 100px;
    z-index: 999;
  }

  .circle4 {
    width: 450px;
    height: 450px;
    border-radius: 50%;
    background: linear-gradient(to bottom, rgb(29, 25, 247), rgb(92, 75, 248));
    position: absolute;
    right: 380px;
    top: 1415px;

    @include mobile {
      display: none;
    }
    @include tablet {
      right: 180px;
      top: 1380px;
      z-index: -1;
    }
  }
  .circle5 {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: linear-gradient(
      to bottom,
      rgb(247, 25, 99),
      rgb(252, 109, 157)
    );
    position: absolute;
    left: 118px;
    top: 1816px;

    @include mobile {
      display: none;
    }
    @include tablet {
      left: 10px;
      top: 1890px;
    }
  }
  .circle6 {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: linear-gradient(
      to bottom,
      rgb(11, 248, 138),
      rgba(98, 250, 166, 0.76)
    );
    position: absolute;
    right: 303px;
    top: 1795px;

    @include mobile {
      display: none;
    }
    @include tablet {
      right: 125px;
      top: 1750px;
    }
  }

  .container {
    display: flex;
    gap: 30px;
    justify-content: center;
    border-radius: 50%;
    width: 50%;
    margin: auto;

    @include mobile {
      flex-direction: column;
      align-items: center;
      width: 100vw;
      position: relative;
      left: -20px;
    }

    .line1 {
      transform: translateY(50px);
    }

    .box {
      width: 300px;
      padding: 30px 60px;
      position: relative;
      margin: 80px auto;

      @include mobile {
        width: 200px;
      }
      @include tablet {
        width: 200px;
      }

      img {
        width: 50px;
        border-radius: 50%;
        position: absolute;
        top: -25px;
        left: 20px;
      }
    }
  }
}

.footer {
  background: linear-gradient(rgb(12, 1, 51), rgb(3, 3, 65));
  padding: 30px 60px;
  margin: 0;
  text-align: center;
  display: block;
  color: white;

  @include mobile {
    width: calc(100vw - 120px);
  }

  h1 {
    margin-bottom: 20px;
  }

  .desc {
    width: 550px;
    margin: auto;

    @include mobile {
      width: 100%;
    }
    @include tablet {
      width: 100%;
    }
  }

  .inputs {
    justify-content: center;
  }

  .foot {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;

    @include mobile {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 20px;
    }

    span {
      font-size: 14px;
    }

    .left {
      display: flex;
      flex-direction: column;
      gap: 10px;

      img {
        width: 30px;
        height: 30px;

        @include mobile {
          margin: auto;
          justify-content: center;
          align-items: center;
          gap: 20px;
        }
      }
    }
    .right {
      display: flex;
      flex-direction: column;
      gap: 10px;

      .icons {
        display: flex;
        justify-content: flex-end;
        gap: 30px;

        @include mobile {
          justify-content: center;
          align-items: center;
          gap: 20px;
        }
      }
      .labels {
        display: flex;
        justify-content: space-between;
        gap: 15px;
      }
    }
  }
}
